
body {
    
    &.red {
        --back : #250216;
        --mid  : #a15266;
        --light: #ebabbb;
    }

    &.green {
        --back : #022512;
        --mid  : #52a16a;
        --light: #abebbe;
    }

    &.blue {
        --back : #030225;
        --mid  : #5a52a1;
        --light: #b2abeb;
    }
    
    
}

body {
    
    width: 100vw;
    height: 100vh;

    margin: 0;
    padding: 0;

    overflow: hidden;

    * {
        font-family: 'Nunito', sans-serif;
    }
    
}

.slide {

    position: absolute;
    top: 0;
    left: 0;

    width: 100vw;
    height: 100vh;

    margin: 0;
    padding: 0 0 0 5vmin;

    display: flex;
    flex-direction: column;
    justify-content: center;

    background-color: var(--back);

    .inner {
        
        width: 60%;

        margin-right: 25%;

        display: flex;
        flex-direction: column;
        justify-content: center;
        
        h1 {

            color: var(--light);

            font-size: 5vmin;
            margin: 0;

        }

        sub {

            color: var(--mid);
            font-size: 2vmin;

            &.error {
                font-style: italic;
            }

        }

    }

    .inputs {
            
        width: 70%;

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: left;
        flex-wrap: wrap;

        margin-top: 3vmin;

        input[type="text"] {
            font-family: 'Nunito', sans-serif;
            font-size: 2vmin;
            width: 30%;
        }

        button {
            font-family: 'Nunito', sans-serif;
            font-size: 2vmin;
        }

    }

    .skip {

        position: absolute;
        bottom: 5%;
        right: 5%;
        width: 15%;
        font-size: 2vmin;

    }

}

button, input[type="text"], label {

    padding: 1%;

    color: var(--light);
    background: none;
    cursor: pointer;

    outline: none;
    border: none;

    border-bottom: 2px solid var(--mid);

    transition: border 0.15s ease-in-out;
    &:hover, &:active {
        border-color: var(--light);
    }

}

button {
    border: 2px solid var(--mid);
}

a {
    text-decoration: none;
    font-style: italic;
    color: var(--light);
}

.radio {

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    color: var(--light);

    input[type="radio"] {
        display: none;
    }

    label {
        
        padding: 10%;

        font-family: 'Nunito', sans-serif;
        font-size: 2vmin;

        cursor: pointer;

    }

}

input[type="text"]::placeholder {
    
    color: var(--light);
    opacity: 0.5;
    transition: color 0.15s ease-in-out;

}

.progress {

    position: absolute;
    
    top: 0;
    left: 0;

    width: 100vw;
    height: 2vmin;

    .inner {

        width: 0%;
        height: 100%;

        background: var(--mid);
        transition: width 1s ease-in-out;

    }

}

.range {
    
    display: inline-block;

    input[type="range"] {
    
        appearance: none;
    
        padding: 1%;
    
        color: var(--light);
        background: none;
        cursor: pointer;
    
        outline: none;
        border: none;
    
        border-bottom: 2px solid var(--mid);
    
        transition: border 0.15s ease-in-out;
        &:hover, &:active {
            border-color: var(--light);
        }
    
        &::-webkit-slider-thumb {
            
            appearance: none;
            
            width: 3vmin;
            height: 3vmin;
    
            background: var(--light);
            cursor: pointer;
    
            opacity: 0.75;
            
            transition: opacity 0.15s ease-in-out;
            &:hover, &:active {
                opacity: 1;
            }
    
            &:before {
                content: 'pog';
            }
    
    
        }
    
    }

    label {
               
        color: white;

    }

}

@keyframes slide-out {

    0%   { left: 0%;   visibility: visible; }
    99%  { left: 100%; visibility: visible; }
    100% { left: 100%; visibility: hidden;  }

}