<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/p/style/quiz.css">

    <title>Home — cQ</title>

</head>
<body>
    
    <!-- Funny fake slides -->
    <div class="slide" style="z-index: 3" data-slide-id="3">
        <div class="inner">
            
            <h1>uh oh — 404.</h1>
            <sub>Looks like you've gotten to a page that doesn't exist.</sub>

            <div class="inputs">
                <button onclick="window.location.pathname = ''">Go home?</button>
            </div>

        </div>
    </div>


</body>
</html>