<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/p/style/quiz.css">

    <script src="/p/scripts/request.js"></script>

    <script src="/p/forms/Form.js"></script>
    <script src="/p/scripts/form_handler.js"></script>

    <div class="progress">
        <div class="inner"></div>
    </div>

    <!-- Form to be loaded -->
    <!-- <script src="/p/forms/data/po.js"></script> -->

    <title>Loading... — cQ</title>

</head>
<body onload="load_form()">

</body>
</html>