<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/p/style/quiz.css">

    <script src="/p/scripts/themes.js"></script>


    <title>Home — cQ</title>

</head>
<body onload="load_theme()">
    
    <!-- Funny fake slides -->
    <div class="slide" style="z-index: 3" data-slide-id="3">
        <div class="inner">
            
            <h1>Wowzer • A secret!</h1>

            <div class="inputs">

                <div class="range">
                    <input type="range" name="" id="poger">
                    <label for="poger">0</label>
                </div>

            </div>

        </div>
    </div>


</body>
</html>